<nav class={{ styles.container }}>
    <ul class={{ styles.list }}>
        <li><a href="/">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/chat">chat</a></li>
        <li><a href="/unknown">404</a></li>
        <li><a href="/server-error">500</a></li>
        <li><a href="/chat/profile">profile</a></li>
        <li><a href="/chat/profile/change_info">change info</a></li>
    </ul>
</nav>
